{% load static %}
<nav class="page-navbar" data-spy="affix" data-offset-top="10">
    <ul class="nav-navbar container">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a href="{% url 'group' %}" class="nav-link">Grupo</a></li>
        <li class="nav-item"><a href="{% url 'user' %}" class="nav-link">Usuario</a></li>
        <li class="nav-item"><a href="{% url 'post' %}" class="nav-link">Posteo</a></li>
                </form>
            </div>
        </li>
    </ul>
</nav>