{% extends 'structure.html' %}
{% load static %}

{% block text_page %}
    <header class="header">
        <div class="overlay"></div>
        <div class="header-content">
            <h1 class="header-subtitle">Aqui estan todos los posteos que busca:</h1>                
        <b>    {% if posteos %}
            <ul>
                {% for post in posteos  %}
                    <li>
                       <p style="font-size: xx-large;"> {{post.user_posting}} - {{post.post}} </p>
                    </li>
                {% endfor %}
            </ul>    
            {% endif %}                 
            </ul></b>
        </div>
    </header>
    {% endblock text_page %}


    